--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.5.1+cpu
torchvision==0.20.1+cpu
numpy~=2.4
pandas~=2.3
scipy~=1.17
scanpy~=1.12
leidenalg~=0.12
spatialdata==0.7.3
spatialdata-io==0.7.0
spatialdata-plot==0.4.0
matplotlib~=3.11
seaborn~=0.13
cell2location==0.1.5
bin2cell==0.3.4
tifffile==2026.6.1
scikit-learn~=1.9
opencv-python~=4.12
scikit-image~=0.25

prek
ipykernel
jupyterlab
pip-tools
